Схемы данных/NotificationTechnology.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            version="1.0" targetNamespace="http://torgi.gov.ru/opendata" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xsd:element name="fullNotification">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="notification" minOccurs="1" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="bidNumber" type="xsd:string" minOccurs="1" maxOccurs="1">
                                <xsd:annotation>
                                    <xsd:documentation>Номер опубликованного извещения. Максимальная длина поля 20</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="bidOrganization" minOccurs="1" maxOccurs="1">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="bidOrgKind" type="xsd:string" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Вид организатор торгов. Максимальная длина поля 256</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="organizationId" type="xsd:long" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Код организатора торгов (личный номер)</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="fullName" type="xsd:string" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Наименование организатора торгов. Максимальная длина поля 512</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="headOrg" type="xsd:string" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Наименование вышестоящей организации. Максимальная длина поля 4000</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="limitBidDeal" type="xsd:double" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Порог крупной сделки. 20 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="inn" type="xsd:string" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>ИНН организатора торгов. 12 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="kpp" type="xsd:string" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>КПП организатора торгов. 9 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="okato" type="xsd:string" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>ОКАТО организатора торгов. 12 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="okpo" type="xsd:string" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>ОКПО организатора торгов. 9 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="okved" type="xsd:string" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>ОКВЭД организатора торгов. 50 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="ogrn" type="xsd:string" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>ОГРН организатора торгов. 15 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="address" type="xsd:string" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Почтовый адрес организатора торгов. 256 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="phone" type="xsd:string" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Контактный телефон организатора торгов. 50 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="fax" type="xsd:string" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Факс организатора торгов. 50 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="location" type="xsd:string" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Фактический адрес организатора торгов, указанный в извещении. 512 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="url" type="xsd:string" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Сайт организатора торгов, указанный в извещении. 256 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="common" minOccurs="1" maxOccurs="1">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="bidKind" minOccurs="1" maxOccurs="1">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="id" type="xsd:long" minOccurs="1" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Идентификатор вида торгов</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Наименование вида торгов. Максимальная длина поля 256</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="bidForm" minOccurs="1" maxOccurs="1">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="id" type="xsd:long" minOccurs="1" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Идентификатор формы торгов</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Наименование формы торгов. Максимальная длина поля 256</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="bidUrl" type="xsd:string" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Адрес сайта. Максимальная длина поля 512</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="fio" type="xsd:string" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Контактное лицо. 250 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="lotNum" type="xsd:int" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Количество лотов извещения. 10 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="published" type="xsd:date" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Дата публикации извещения</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="lastChanged" type="xsd:date" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Дата последнего изменения</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="etpName" type="xsd:string" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Наименование электронной торговой площадки (ЭТП). 256 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="etpOperator" type="xsd:string" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Оператор ЭТП. 300 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="etpUrl" type="xsd:string" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Адрес ЭТП в сети Интернет. 256 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="notificationUrl" type="xsd:string" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Ссылка на извещение. 2000 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="documentProvide" type="xsd:string" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Срок, место и порядок предоставления документации. 700 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="startDateRequest" type="xsd:date" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Дата начала подачи заявок</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="expireDate" type="xsd:date" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Дата окончания приема заявок</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="openingDate" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Дата и время вскрытия конвертов с заявками</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="openingPlace" type="xsd:string" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Место вскрытия конвертов. 200 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="processingDate" type="xsd:date" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Дата рассмотрения заявок и подведения итогов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="processingPlace" type="xsd:string" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Место и время рассмотрения заявок и подведения итогов. 1000 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="expireDateTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Дата и время окончания подачи предложений</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="startDateOffer" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Дата начала подачи предложений</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="placeOffer" type="xsd:string" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Место подачи предложений. 1000 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="bidAuctionDate" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Дата и время проведения аукциона и подведения итогов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="bidAuctionPlace" type="xsd:string" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Место проведения аукциона. 1000 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="documents" minOccurs="1" maxOccurs="1">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="doc" minOccurs="0" maxOccurs="unbounded">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="docType" type="xsd:string" minOccurs="1" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Тип документа. 256 символов</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="docDate" type="xsd:date" minOccurs="0" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Дата документа</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="description" type="xsd:string" minOccurs="1" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Описание документа. 512 символов</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="created" type="xsd:date" minOccurs="1" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Дата создания документа</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="docUrl" type="xsd:string" minOccurs="1" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Ссылка на документ на официальном сайте</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="lot" minOccurs="1" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="lotNum" type="xsd:string" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Номер лота</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="bidStatus" minOccurs="1" maxOccurs="1">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="id" type="xsd:long" minOccurs="1" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Идентификатор статуса лота</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Наименование статуса лота. 256 символов</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="cancelDate" type="xsd:date" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Дата отмены лота</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="cancelReason" type="xsd:string" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Причина отмены лота. 512 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="suspendDate" type="xsd:date" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Дата приостановления лота</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="suspendReason" type="xsd:string" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Причина приостановления лота. 512 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="description" type="xsd:string" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Краткое описание единой технологии. 1500 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="propKind" minOccurs="1" maxOccurs="1">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="id" type="xsd:long" minOccurs="1" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Идентификатор вида собственности</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Наименование вида собственности. 256 символов</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="transferForm" minOccurs="0" maxOccurs="1">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="id" type="xsd:long" minOccurs="1" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Идентификатор способа передачи права</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Наименование способа передачи права. 256 символов</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="expLicenceYears" type="xsd:int" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Срок действия лицензионного договора, год</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="expLicenceMonth" type="xsd:int" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Срок действия лицензионного договора, месяц</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="expLicenceDays" type="xsd:int" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Срок действия лицензионного договора, дни</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="feeStart" type="xsd:double" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Начальный размер вознаграждения</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="authorityPrice" type="xsd:double" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Стоимость права</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="foundationAlientationFree" type="xsd:string" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Обоснование безвозмездного отчуждения. 1000 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="activityResultList" type="xsd:string" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Перечень охраняемых законом результатов интеллектуальной деятельности. 4000 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="authDocsList" type="xsd:string" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Сроки действия документов, удостоверяющих права. 4000 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="feeForm" type="xsd:string" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Вид вознаграждения. 500 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="feeSize" type="xsd:double" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Размер вознаграждения</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="foundationFeeFree" type="xsd:string" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Обоснование безвозмездного отчуждения. 1000 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="requestEstimationCriteria" type="xsd:string" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Критерии оценки заявок на участие. 1500 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="executorInfo" type="xsd:string" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Информация о преимущественном праве исполнителя. 1000 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="expMonth" type="xsd:int" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Срок, в течение которого договор должен быть заключен, месяц</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="expDay" type="xsd:int" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Срок, в течение которого договор должен быть заключен, дни</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="priceStep" type="xsd:double" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Шаг аукциона</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="technologyRealizationPlan" type="xsd:string" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>План реализации единой технологии. 1500 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="mannerTimeAccountAssignment" type="xsd:string" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Порядок и сроки предоставления отчетности о выполнении плана реализации. 1500 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="dutyIssueSimpleLicence" type="xsd:string" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Обязанность выдать простую лицензию субъекту для обеспечения обороны (в случае необходимости). 1500 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="previousTenderInformation" type="xsd:string" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Информация о предыдущих торгах. 1500 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="result" type="xsd:string" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Итоги. 4000 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="winner" minOccurs="0" maxOccurs="1">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Наименование участника. 500 символов</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="inn" type="xsd:string" minOccurs="0" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>ИНН участника. 12 символов</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="kpp" type="xsd:string" minOccurs="0" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>КПП участника. 9 символов</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="ogrnip" type="xsd:string" minOccurs="0" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>ОГРН/ОГРНИП участника. 15 символов</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="ogrn" type="xsd:string" minOccurs="0" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>ОГРН/ОГРНИП участника. 15 символов</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="location" type="xsd:string" minOccurs="0" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Почтовый адрес участника. 256 символов</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="phone" type="xsd:string" minOccurs="0" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Телефон участника. 20 символов</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="currency" type="xsd:string" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Валюта лота. 20 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="currencyPercent" type="xsd:double" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Коэффициент уточнения курса для иностранной валюты</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="paymentRequisites" minOccurs="0" maxOccurs="1">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="bik" type="xsd:string" minOccurs="0" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>БИК платежных реквизитов. 9 символов</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="bankName" type="xsd:string" minOccurs="0" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Наименование банка. 512 символов</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="ks" type="xsd:string" minOccurs="0" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Кор. счет. 20 символов</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="rs" type="xsd:string" minOccurs="0" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Расчетный счет. 20 символов</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="ps" type="xsd:string" minOccurs="0" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Лицевой счет. 30 символов</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="documents" minOccurs="1" maxOccurs="1">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="doc" minOccurs="0" maxOccurs="unbounded">
                                                        <xsd:complexType>
                                                            <xsd:sequence>
                                                                <xsd:element name="docType" type="xsd:string" minOccurs="1" maxOccurs="1">
                                                                    <xsd:annotation>
                                                                        <xsd:documentation>Тип документа. 256 символов</xsd:documentation>
                                                                    </xsd:annotation>
                                                                </xsd:element>
                                                                <xsd:element name="docDate" type="xsd:date" minOccurs="0" maxOccurs="1">
                                                                    <xsd:annotation>
                                                                        <xsd:documentation>Дата документа</xsd:documentation>
                                                                    </xsd:annotation>
                                                                </xsd:element>
                                                                <xsd:element name="docNum" type="xsd:string" minOccurs="0" maxOccurs="1">
                                                                    <xsd:annotation>
                                                                        <xsd:documentation>Номер документа</xsd:documentation>
                                                                    </xsd:annotation>
                                                                </xsd:element>
                                                                <xsd:element name="description" type="xsd:string" minOccurs="1" maxOccurs="1">
                                                                    <xsd:annotation>
                                                                        <xsd:documentation>Описание документа. 512 символов</xsd:documentation>
                                                                    </xsd:annotation>
                                                                </xsd:element>
                                                                <xsd:element name="created" type="xsd:date" minOccurs="1" maxOccurs="1">
                                                                    <xsd:annotation>
                                                                        <xsd:documentation>Дата создания документа</xsd:documentation>
                                                                    </xsd:annotation>
                                                                </xsd:element>
                                                                <xsd:element name="docUrl" type="xsd:string" minOccurs="1" maxOccurs="1">
                                                                    <xsd:annotation>
                                                                        <xsd:documentation>Ссылка на документ на официальном сайте</xsd:documentation>
                                                                    </xsd:annotation>
                                                                </xsd:element>
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="protocol" minOccurs="0" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="protocolType" type="xsd:string" minOccurs="1" maxOccurs="1">
                                <xsd:annotation>
                                    <xsd:documentation>Тип протокола. 256 символов</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="lot" minOccurs="1" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="lotNum" type="xsd:string" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Номер лота</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="bidMember" minOccurs="0" maxOccurs="unbounded">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="regNum" type="xsd:string" minOccurs="1" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Регистрационный номер участника. 50 символов</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Наименование участника. 500 символов</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="inn" type="xsd:string" minOccurs="0" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>ИНН участника. 12 символов</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="kpp" type="xsd:string" minOccurs="0" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>КПП участника. 9 символов</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="ogrn" type="xsd:string" minOccurs="0" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>ОГРН/ОГРНИП участника. 15 символов</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="location" type="xsd:string" minOccurs="0" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Почтовый адрес участника. 256 символов</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="phone" type="xsd:string" minOccurs="0" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Телефон участника. 20 символов</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="isSelected" type="xsd:int" minOccurs="0" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Признак допуска участника</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="refuseReason" type="xsd:string" minOccurs="0" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Причина недопуска участника</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="offer" type="xsd:double" minOccurs="0" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Предложение участника</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="finalScore" type="xsd:double" minOccurs="0" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Итоговая оценка</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="tenderPosition" type="xsd:int" minOccurs="0" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Место присвоенное участнику</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="contractTerms" type="xsd:string" minOccurs="0" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Условия исполнения договора</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="documents" minOccurs="0" maxOccurs="1">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="doc" minOccurs="0" maxOccurs="unbounded">
                                                        <xsd:complexType>
                                                            <xsd:sequence>
                                                                <xsd:element name="description" type="xsd:string" minOccurs="1" maxOccurs="1">
                                                                    <xsd:annotation>
                                                                        <xsd:documentation>Описание документа. 512 символов</xsd:documentation>
                                                                    </xsd:annotation>
                                                                </xsd:element>
                                                                <xsd:element name="created" type="xsd:date" minOccurs="1" maxOccurs="1">
                                                                    <xsd:annotation>
                                                                        <xsd:documentation>Дата создания документа</xsd:documentation>
                                                                    </xsd:annotation>
                                                                </xsd:element>
                                                                <xsd:element name="docUrl" type="xsd:string" minOccurs="1" maxOccurs="1">
                                                                    <xsd:annotation>
                                                                        <xsd:documentation>Ссылка на документ на официальном сайте</xsd:documentation>
                                                                    </xsd:annotation>
                                                                </xsd:element>
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>