Схемы данных/NotificationElectricity.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            version="1.0" targetNamespace="http://torgi.gov.ru/opendata" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xsd:element name="fullNotification">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="notification" minOccurs="1" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="bidNumber" type="xsd:string" minOccurs="1" maxOccurs="1">
                                <xsd:annotation>
                                    <xsd:documentation>Номер опубликованного извещения. Максимальная длина поля 20</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="bidOrganization" minOccurs="1" maxOccurs="1">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="bidOrgKind" type="xsd:string" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Вид организатор торгов. Максимальная длина поля 256</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="organizationId" type="xsd:long" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Код организатора торгов (личный номер)</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="fullName" type="xsd:string" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Наименование организатора торгов. Максимальная длина поля 512</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="limitBidDeal" type="xsd:double" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Порог крупной сделки. 20 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="inn" type="xsd:string" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>ИНН организатора торгов. 12 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="kpp" type="xsd:string" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>КПП организатора торгов. 9 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="okato" type="xsd:string" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>ОКАТО организатора торгов. 12 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="okpo" type="xsd:string" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>ОКПО организатора торгов. 9 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="okved" type="xsd:string" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>ОКВЭД организатора торгов. 50 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="ogrn" type="xsd:string" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>ОГРН организатора торгов. 15 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="address" type="xsd:string" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Почтовый адрес организатора торгов. 256 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="phone" type="xsd:string" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Контактный телефон организатора торгов. 50 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="location" type="xsd:string" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Фактический адрес организатора торгов, указанный в извещении. 512 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="common" minOccurs="1" maxOccurs="1">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="bidKind" minOccurs="1" maxOccurs="1">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="id" type="xsd:long" minOccurs="1" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Идентификатор вида торгов</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Наименование вида торгов. Максимальная длина поля 256</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="bidForm" minOccurs="1" maxOccurs="1">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="id" type="xsd:long" minOccurs="1" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Идентификатор формы торгов</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Наименование формы торгов. Максимальная длина поля 256</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="bidUrl" type="xsd:string" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Адрес сайта. Максимальная длина поля 512</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="fio" type="xsd:string" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Контактное лицо. 250 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="lotNum" type="xsd:int" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Количество лотов извещения. 10 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="published" type="xsd:date" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Дата публикации извещения</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="lastChanged" type="xsd:date" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Дата последнего изменения</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="timeOut" type="xsd:date" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Срок отказа от проведения торгов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="notificationUrl" type="xsd:string" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Ссылка на извещение. 2000 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="documents" minOccurs="1" maxOccurs="1">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="doc" minOccurs="0" maxOccurs="unbounded">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="docType" type="xsd:string" minOccurs="1" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Тип документа. 256 символов</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="description" type="xsd:string" minOccurs="1" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Описание документа. 512 символов</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="created" type="xsd:date" minOccurs="1" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Дата создания документа</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="docUrl" type="xsd:string" minOccurs="1" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Ссылка на документ на официальном сайте</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="lot" minOccurs="1" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="lotNum" type="xsd:string" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Номер лота</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>

                                        <xsd:element name="readonlyKladr" minOccurs="0" maxOccurs="1">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="id" type="xsd:string" minOccurs="1" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Код местоположения по КЛАДРу</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Расшифровка местоположения. Максимальная длина поля 2000</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="kladrString" type="xsd:string" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Местоположение по Кладру</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="id" type="xsd:long" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Идентификатор лота</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="newTypeProtocolPublished" type="xsd:boolean" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Был ли опубликован протокол, связанный с лотом или нет</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="notificationId" type="xsd:long" minOccurs="1" maxOccurs="1"></xsd:element>
                                        <xsd:element name="propertyType" minOccurs="1" maxOccurs="1">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="id" type="xsd:long" minOccurs="1" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Идентификатор типа имущества</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Наименование  типа имущества. Максимальная длина поля 256</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="location" type="xsd:string" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Фактический адрес организатора торгов, указанный в извещении. 512 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="mission" type="xsd:string" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Целевое назначение и разрешенное использование земельного участка. 500 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="priceStep" type="xsd:double" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Шаг аукциона</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="lotPriceString" type="xsd:string" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Начальная (минимальная) цена лота (в валюте лота)</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="lotNumber" type="xsd:string" maxOccurs="1" minOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>номер лота</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="kladrAndLocation" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
                                        <xsd:element name="kladrId" type="xsd:string" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Код местоположения по КЛАДРу</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="idAsString" type="xsd:double" minOccurs="1" maxOccurs="1"></xsd:element>
                                        <xsd:element name="bidStatus" minOccurs="1" maxOccurs="1">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="id" type="xsd:long" minOccurs="1" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Идентификатор статуса лота</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Наименование статуса лота. 256 символов</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="lotPrice" type="xsd:double">
                                            <xsd:annotation>
                                                <xsd:documentation>Начальная (минимальная) цена лота</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="areaMeters" type="xsd:double" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Площадь в кв.м</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="propKind" minOccurs="1" maxOccurs="1">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="id" type="xsd:long" minOccurs="1" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Идентификатор вида собственности</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Наименование вида собственности. Максимальная длина поля 256</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="kladrLocation" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
                                        <xsd:element name="country" minOccurs="1" maxOccurs="1">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="id" type="xsd:long" minOccurs="1" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Идентификатор страны</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
                                                        <xsd:annotation>
                                                            <xsd:documentation>Наименование страны. 256 символов</xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="description" type="xsd:string" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Описание документа. 512 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="contractType" minOccurs="1" maxOccurs="1">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="id" type="xsd:long" minOccurs="1" maxOccurs="1"></xsd:element>
                                                    <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="depositSize" type="xsd:double"></xsd:element>
                                        <xsd:element name="currency" type="xsd:string" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Валюта лота. 20 символов</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="currencyPercent" type="xsd:double" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>Коэффициент уточнения курса для иностранной валюты</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="documents" type="xsd:string"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>